<h1>Setup your account</h1>
<hr>

<div class='text-center'>
  <p> In order to receive payouts for customer purchases, we need to
setup your account first. Alternatively, you can create a free event
and skip this step for now.</p>

  <%= link_to 'I want to make this a free event', disable_hosts_path, data: {method: :post}, role: 'button', class: 'btn btn-default' %>
</div>
<hr>
