<h1>Terms of Service Agreement - Users / Ticket Buyers</h1>

<h3 dir="ltr" >1. ACCEPTANCE OF TERMS.</h3>

<h4 dir="ltr" >1.1 Overview.</h4>

<p>The following terms and conditions (this "TOS") govern all use by you as a Buyer (as defined below) or other non-Organizer (as defined below) user or visitor of (a) the Ticket Win, LLC websites and domains (including all webpages, subdomains and subparts therein contained, the "Site"), (b) any and all services available on or through the Site or otherwise provided by Ticket Win, LLC ("Ticket Win") in connection with events listed on the Site, and (c) all Software (as defined below) (collectively, the "Services"). The Services are owned and operated by Ticket Win. The Services are offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on the Site by Ticket Win. BY USING OR ACCESSING ANY PART OF THE SERVICES, YOU AGREE TO ALL OF THE TERMS AND CONDITIONS CONTAINED HEREIN AND ALL OTHER OPERATING RULES, POLICIES AND PROCEDURES THAT MAY BE PUBLISHED FROM TIME TO TIME ON THE SITE BY Ticket Win. IF YOU DO NOT AGREE TO ANY OF SUCH TERMS, CONDITIONS, RULES, POLICIES OR PROCEDURES, DO NOT USE OR ACCESS THE SERVICES.</p>

<h4 dir="ltr" >1.2 Modification.</h4>

<p>Ticket Win reserves the right, at its sole discretion, to modify or replace any of the terms or conditions of this TOS at any time. It is your responsibility to check this TOS periodically for changes. Your continued use of the Services following the posting of any changes to this TOS constitutes acceptance of those changes. If any change to this TOS is not acceptable to you, your sole remedy is to cease accessing, browsing and otherwise using the Services.</p>

<h4 dir="ltr" >1.3 Language.</h4>

<p>We may translate this Terms of Service, our Privacy Policy or any other operating rules, policies and procedures that may be published from time to time on the Site into other languages for your convenience. The English language version of each of these documents is the version that governs your use of the Services and in the event of any conflict between the English language version and a translated version, the English language version will control.</p>

<h3 dir="ltr" >2. DESCRIPTION OF TICKET WIN.</h3>

<p>Ticket Win provides a simple and quick means for registered users who are event organizers and planners ("Organizers") to collect payments with respect to the sale of tickets/registrations, merchandise and services for, and the solicitation of donations with respect to, events registered on the Site from users who want to attend such events ("Buyers" or "you"). Organizers may visit the Site, fill out a questionnaire about their event, including pricing, location, inventory, etc., and collect event registration fees online directly from Buyers. Payments are all transacted through PayPal, Google Checkout, Authorize.net or other third party payment service methods (collectively, "Facilitated Payment Modes" or "FPM") or the Ticket Win payment processing gateway (the "Gateway"). For more information, please see https://www.tcktwn.com. This TOS applies to you and your use of the Services as a Buyer and/or other non-Organizer user or visitor of the Services ("non-Organizer" or "you"). For the Terms of Service Agreement that applies to you and your use of the Services as an Organizer, please see https://www.tcktwn.com/tos/organizers. For the Terms of Service Agreement that applies to you and your use of the Services as an API developer, please see http://developer.tcktwn.com/terms/.</p>

<h3 dir="ltr" >3. YOUR USE OF THE SERVICES.</h3>

<h4 dir="ltr" >3.1 The Services.</h4>

<p>Ticket Win hereby grants you a non-exclusive, non-transferable, non-sublicensable right to access and use the Services solely for the purposes of browsing the Site, and searching for, viewing, registering for, and interacting with, an event that is registered on the Site, in each case (i) in compliance with this TOS, and (ii) to the extent permitted under all applicable laws and regulations (foreign and domestic). Notwithstanding the foregoing, you shall not, and shall not permit anyone else to, directly or indirectly: (i) modify, reproduce or otherwise create derivatives of any part of the Services or Site Content (as defined below); (ii) reverse engineer, disassemble, decompile or otherwise attempt to discover the source code or structure, sequence and organization of all or any part of the Services (except that this restriction shall not apply to the limited extent restrictions on reverse engineering are prohibited by applicable local law); (iii) rent, lease, resell, distribute or use the Services for timesharing, service bureau, or commercial purposes; (iv) remove or alter any proprietary notices or labels on or in the Services or Site Content; (v) engage in any activity that interferes with or disrupts the Services; or (vi) engage in any fraudulent activity or activity that facilitates fraud.</p>

<h4 dir="ltr" >3.2 Software.</h4>

<p>If you are allowed to download or use any Software in connection with the Services, Ticket Win hereby grants you a personal, non-transferable, non-sublicensable, revocable, non-exclusive license to use the Software solely for your internal use in connection with the Services, and only in accordance with this TOS and the written instructions/directions (if any) provided by Ticket Win in conjunction with the Software. For purposes of this TOS, "Software" shall mean any and all software that is available on or through the Site or otherwise provided by Ticket Win, including without limitation Ticket Wins mobile applications (such as At The Door™, Entry Manager and the Ticket Win app). For clarity, the Software will be deemed a part of the "Services" hereunder.</p>

<p>The Software and the transmission of applicable data is subject to United States export controls. No Software may be downloaded or otherwise exported or re-exported in violation of U.S. export laws. Downloading or using the Software is at your sole risk. You shall also be responsible for using the Software in a manner that complies with all federal, state and local laws and the rules and regulations of all credit card companies.</p>

<p>The Software and related documentation are "commercial computer software" and "commercial computer software documentation," respectively, as such terms are used in United States Federal Acquisition Regulations Section 12.212. Any use, duplication or disclosure of the Software or such documentation by or on behalf of the U.S. Government is subject to restrictions as set forth in this TOS.</p>

<h3 dir="ltr" >4. PAYMENT.</h3>

<h4 dir="ltr" >4.1 Independent Relationship of FPMs.</h4>

<p>When using a FPM, Organizers and Buyers effect the applicable monetary payment transaction through the FPM service, and are bound by the applicable terms of use governing the FPM service.</p>

<h4 dir="ltr" >4.2 Refunds.</h4>

<p>It is the responsibility of the Organizer to communicate its refund policy to Buyers and to issue refunds to Buyers via the Site or otherwise. If a Buyer desires to request a refund, Buyer must request the refund from the Organizer. All communications or disputes regarding refunds are between the Organizer and Buyer and Ticket Win will not be responsible or liable in any way for refunds, errors in issuing refunds, or lack of refunds in connection with the Services. All communications and disputes regarding chargebacks and refunds are between the Organizer and Buyer and Ticket Win will not be responsible or liable in any way for chargebacks in connection with a Buyer's use of the Services. If you are a Buyer and you wish to request a refund in connection with an event listed on the Services, you should contact the applicable Organizer directly.</p>

<h3 dir="ltr" >5. YOUR REGISTRATION OBLIGATIONS.</h3>

<p>To be a registered user of the Services, whether as a Buyer or other non-Organizer, you agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the Site registration form (the "Registration Data") and (b) maintain and promptly update the Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or Ticket Win has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Ticket Win has the right to suspend or terminate all of your accounts and refuse any and all of your current or future use of the Services (or any portion thereof). Ticket Win is concerned about the safety and privacy of all its users, particularly children. For this reason, and to be consistent with the terms of use of any FPM service provider or other third party service provider, you must be at least 18 years of age, or the legal age of majority where you reside if that jurisdiction has an older age of majority, to register for an account.</p>

<h3 dir="ltr" >6. ACCOUNT, PASSWORD AND SECURITY.</h3>

<p>As part of the Site registration process, you will create a password and account. You are responsible for maintaining the confidentiality of the password and account, and are fully responsible for all activities that occur under your account, including, without limitation, all actions by sub-users registered under your account. You agree to (a) immediately notify Ticket Win of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you exit from your account at the end of each session. Ticket Win cannot and will not be liable for any loss, damage or other liability arising from your failure to comply with this Section or from any unauthorized access to or use of your account. In the event of any dispute between two or more parties as to account ownership, you agree that Ticket Win shall be the sole arbiter of such dispute in its sole discretion and that Ticket Win'S decision (which may include termination or suspension of any account subject to dispute) shall be final and binding on all parties.</p>

<h3 dir="ltr" >7. CONTENT.</h3>

<h4 dir="ltr" >7.1 Site Content.</h4>

<p>You agree that all material, including without limitation information, data, software, text, design elements, graphics, images and other content (collectively, "Content"), contained in or delivered via the Services or otherwise made available by Ticket Win in connection with the Services (collectively, "Site Content") is protected by copyrights, trademarks, service marks, trade secrets or other intellectual property and other proprietary rights and laws. Ticket Win may own the Site Content or portions of the Site Content may be made available to Ticket Win through arrangements with third parties. Except as expressly authorized by Ticket Win in writing or in connection with your use of the intended functionality of the Services, you agree not to sell, license, rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly perform, publish, adapt, edit or create derivative works of any Site Content, or post any Site Content on any other web site or in a networked computer environment for any purpose. Reproducing, copying or distributing any Site Content for any other purpose is strictly prohibited without the express prior written permission of Ticket Win. You shall use the Site Content only for purposes that are permitted by this TOS and any applicable laws and regulations (foreign and domestic). Any rights not expressly granted herein are reserved.</p>

<h4 dir="ltr" >7.2 Your Content.</h4>

<p>You acknowledge and agree that if you contribute, provide or make available any Content to the Site ("Your Content"), you hereby grant to Ticket Win a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, transferable, sublicensable (through multiple tiers) right and license to use, reproduce, adapt, modify, distribute, translate, publish, create derivative works based on, perform, display and otherwise exploit Your Content, in whole or in part, in any media now known or hereafter developed, for any purpose whatsoever. You represent and warrant that you have all the rights, power and authority necessary to grant the foregoing license, and that all Your Content (i) does not infringe, violate, misappropriate or otherwise conflict with the rights of any third party, and (ii) complies with all applicable laws and regulations (foreign and domestic). In addition, Your Content must be accurate and truthful. Ticket Win reserves the right to remove any of Your Content from the Site at any time if Ticket Win believes in its sole discretion that it does not comply with this TOS. In addition, you agree that Ticket Win may use your name and logo (whether or not you have made it available through the Site) for the purpose of identifying you as an existing or past customer of Ticket Win both on the Site and in marketing and promotional materials.</p>

<h4 dir="ltr" >7.3 DMCA.</h4>

<p>The Digital Millennium Copyright Act of 1998 (the "DMCA") provides recourse for copyright owners who believe that material appearing on the Internet infringes their rights under U.S. copyright law. If you believe in good faith that any Content made available in connection with the Services infringes your copyright, you (or your agent) may send us a notice requesting that the Content be removed, or access to it blocked. Notices and counter-notices must meet the then-current statutory requirements imposed by the DMCA (see <a href="http://www.loc.gov/copyright" >http://www.loc.gov/copyright</a> for details). Notices and counter notices with respect to the Services should be sent to:</p>

<p>Email: ticketwindev@gmail.com</p>

<h3 dir="ltr" >8. CONDUCT.</h3>

<h4 dir="ltr" >8.1 Certain Restrictions.</h4>

<p>Whether you are using the Services as a Buyer or other non-Organizer, you understand that you are liable for all Content, in whatever form, that you provide or otherwise make available to or through the Services, including to Organizers, Buyers and other non-Organizers. You agree not to use the Services to:</p>

<ul>
<li><p>upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</p>

</li>
<li><p>harm minors in any way;</p>

</li>
<li><p>facilitate gambling, gaming, lotteries, raffles, contests, sweepstakes and/or any other activity featuring the award of a prize other than raffles, contests or sweepstakes conducted in a manner that complies in all respects with Ticket Win’s Policies, State and Federal Law and the terms of service of any platform where the contests or sweepstakes are held;</p>

</li>
<li><p>impersonate any person or entity, including, but not limited to, a Ticket Win representative or forum leader, or falsely state or otherwise misrepresent your affiliation with a person or entity;</p>

</li>
<li><p>forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Services;</p>

</li>
<li><p>upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</p>

</li>
<li><p>upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other intellectual property or proprietary rights of any person or entity;</p>

</li>
<li><p>upload, post, email, transmit or otherwise make available any Content related to the sale or provision of goods and services other than the sale or provision of tickets and registrations to events listed on the Site and other goods and services being sold or provided in conjunction with such events;</p>

</li>
<li><p>upload, post, email, transmit or otherwise make available any Content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment or to otherwise interact with the Services in a manner not permitted by this TOS or expressly authorized by Ticket Win (including through the API TOS contained at http://developer.tcktwn.com/terms);</p>

</li>
<li><p>interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services;</p>

</li>
<li><p>intentionally or unintentionally violate any applicable law or regulation (foreign or domestic), including without limitation (i) regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange (e.g., the New York Stock Exchange, the American Stock Exchange or the NASDAQ) and (ii) laws and regulations (foreign or domestic) regarding the sale or resale of tickets (including without limitation with respect to licensure requirements, maximums or limits on ticket prices, etc.); or</p>

</li>
<li><p>stalk or otherwise harass any person or entity.</p>

</li>
</ul>

<h4 dir="ltr" >8.2 Certain Remedial Rights.</h4>

<p>Whether you are using the Services as a Buyer or other non-Organizer, you acknowledge that Ticket Win does not pre-screen any Content provided or made available by you or any third party in connection with the Services, but that Ticket Win and its designees shall have the right (but not the obligation) in their sole discretion to (i) monitor, alter, edit, or remove any of your Content, in whole or in part, and/or (ii) rescind and terminate your right to use the Services at any time (with or without notice) for any reason or no reason. You acknowledge and agree that Ticket Win may preserve Your Content and may also disclose Your Content for any reason, including without limitation if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce this TOS; (c) respond to claims that any of Your Content violates the rights of third parties; and/or (d) protect the rights, property, or personal safety of Ticket Win, its users and/or the public. You understand that the technical processing and transmission of the Services, including Your Content, may involve (i) transmissions over various networks; and/or (ii) changes to conform and adapt to technical requirements of connecting networks or devices.</p>

<h3 dir="ltr" >9. REFERRALS.</h3>

<p>The following terms and conditions describe the terms and conditions of Ticket Win's referral programs. Ticket Win reserves the absolute right to determine whether you or any other user of the Services qualifies for any of the following referral programs.</p>

<h4 dir="ltr" >9.1 Organizer Referral Program.</h4>

<p>Ticket Win will pay a referral fee to persons or entities ("Organizer Referrers") that refer revenue-generating Organizers to Ticket Win, subject to the following terms and conditions: (a) Prior to an Organizer's initial use of the Services, the Organizer Referrer must have contacted the Organizer and have been instrumental in getting the Organizer initially to register for and sell tickets/registrations for an event using the Services (as determined by Ticket Win in its sole discretion). The referral must be properly registered with Ticket Win when the Organizer initially sets up its account and the Organizer Referrer must fully comply with all instructions with respect thereto. (b) Ticket Win will pay the Organizer Referrer twenty-five percent (25%) of the Ticket Win Service Fees (e.g., the 2.5% plus $.99 fee, which may vary based on Ticket Win's agreement with the applicable Organizer and does not include additional amounts such as taxes, royalties, payment processing and other service fees and will be net of all refunds, credit card chargebacks and all other deducted amounts) actually paid to Ticket Win and retained by Ticket Win for the Organizer's account during the 12-month period following the date of such Organizer's first event registration via the Services. The referral fee will be paid at the beginning of each month to the Organizer Referrer if the amount due and unpaid is five dollars ($5.00) or more. Any unpaid balances will be added to any balances due in subsequent months. (c) Ticket Win reserves the right to change, modify or terminate this Organizer referral program and/or its terms at any time in its sole discretion. Ticket Win reserves the right to determine what, if any, amounts are properly due Organizer Referrers hereunder in its sole discretion.</p>

<h4 dir="ltr" >9.2 Buyer Referral Software.</h4>

<p>Ticket Win makes available Software via the Services that makes it possible for Organizers to offer third parties ("Buyer Referrers") a bonus in exchange for referring Buyers to their event(s) ("Referral Software"). Ticket Win will make a good faith effort to provide information and instructions as necessary to use the Referral Software correctly. If you use the Referral Software in any capacity, you will comply with all such instructions. These instructions can be found at https://www.tcktwn.com/publicaffiliates. For clarity, the Referral Software shall be deemed part of the "Software" and "Services" hereunder. Your use of the Referral Software is also subject to the following terms and conditions: (a) Ticket Win is neither a party to any agreements (actual or implied) entered into by Organizers and Buyer Referrers, nor is it an agent, employee, partner or other representative of Organizers or Buyer Referrers. Ticket Win has no responsibility for any failure or alleged failure of performance of any Organizer or Buyer Referrer to each other or to any third party. (b) Ticket Win does not screen or investigate in any way the users of the Services to determine their ability or willingness to perform the obligations that may be undertaken pursuant to this Buyer referral program. Organizers and Buyer Referrers need to resolve all questions and issues between themselves. Ticket Win makes no representations or warranties and gives no assurances that any Organizer or any Buyer Referrer will perform under the Buyer referrer program, including without limitation Organizers paying any money owed to Buyer Referrers. (c) Ticket Win will not settle, mediate or otherwise assume responsibility for resolving disputes between Organizers and Buyer Referrers. (d) Ticket Win assumes no liability arising from the use or misuse of the Referral Software, or in the event that the Referral Software fails to operate as expected, even if such failure results in the loss of data or in the misrepresentation of data necessary for the Organizers and Buyer Referrers to fulfill commitments entered into using the Referral Software.</p>

<h3 dir="ltr" >10. SPECIAL ADMONITIONS FOR INTERNATIONAL USE.</h3>

<p>Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. By way of illustration and not limitation, you agree to comply with all applicable laws and regulations (foreign and domestic) regarding the transmission of technical data exported from the United States or the country in which you reside.</p>

<p>In addition, the Services are subject to United States export controls. No part of the Services may be exported or re-exported into, or to a national or resident of, any country to which the U.S. has embargoed goods and/or services of the same type as the Services. By using the Services or any part thereof (including by downloading any Software), you represent and warrant that you are not located in, and you are not a national or resident of, any such country. Further, no part of the Services (including any Software) may be exported or re-exported to any person or entity appearing on the Office of Foreign Assets Control's Specially Designated Nationals and Blocked Persons List or the Bureau of Industry and Security's Denied Persons List. By using the Services or any part thereof (including by downloading any Software), you represent and warrant that you are not a person or entity or under the control of or affiliated with a person or entity that appears on any such list.</p>

<h3 dir="ltr" >11. INDEMNITY.</h3>

<p>You agree to defend, indemnify and hold Ticket Win, and its affiliates, and each of its and their respective officers, directors, agents, co-branders, other partners, and employees, harmless from any and all damage (whether direct, indirect, incidental, consequential or otherwise), loss, liability, cost and expense (including, without limitation, reasonable attorneys' and accounting fees) resulting from any claim, demand, suit, proceeding (whether before an arbitrator, court, mediator or otherwise), or investigation made by any third party (each a "Claim") due to or arising out of: your Content; the events listed on the Service; your use of, contribution to or connection with the Service; your violation of this TOS; and/or your violation of any rights of another. Ticket Win shall provide notice to you of any such Claim, provided that the failure or delay by Ticket Win in providing such notice shall not limit your obligations hereunder. Ticket Win reserves the right to assume the exclusive defense and control of any matter which is subject to indemnification under this Section, and in such case, you agree to cooperate with all reasonable requests in assisting Ticket Win's defense of such matter.</p>

<h3 dir="ltr" >12. SERVICE MODIFICATIONS/SUSPENSIONS.</h3>

<p>Ticket Win reserves the right at any time to, and from time to time may, modify, suspend or discontinue, temporarily or permanently, the Services (or any part thereof) for any reason or no reason with or without notice. You agree that Ticket Win shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Services.</p>

<h3 dir="ltr" >13. TERMINATION.</h3>

<p>Ticket Win, in its sole discretion, may terminate your password, accounts (or any part thereof) and/or your right to use the Services, and remove and discard any and all of Your Content within the Services, at any time for any reason or no reason, including, without limitation, for lack of use, failure to timely pay any fees or other monies due Ticket Win, or if Ticket Win believes that you have violated or acted inconsistently with the letter or spirit of this TOS. You agree that any termination of your right to use the Services may be effected without prior notice, and acknowledge and agree that Ticket Win may immediately deactivate or delete your account and all related Content and files related to your account and/or bar any further access to such files or the Services. Further, you agree that Ticket Win shall not be liable to you or any third-party for any termination of your right to use or otherwise access the Services. All provisions of this TOS that by their nature should survive termination of your right to use the Services shall survive (including, without limitation, all limitations on liability, releases, indemnification obligations, disclaimers of warranties, and intellectual property protections and licenses).</p>

<h3 dir="ltr" >14. LINKS.</h3>

<p>The Services may provide, or third parties may provide, links to other Internet websites or resources. Because Ticket Win has no control over such websites and resources, you acknowledge and agree that Ticket Win is not responsible for the availability of such websites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products, services or other materials on or available from such websites or resources. You further acknowledge and agree that Ticket Win shall not be responsible or liable for any damage or loss caused or alleged to be caused by or in connection with any use of or reliance on any such Content, advertising, products, services or other materials available on or through any such website or resource.</p>

<h3 dir="ltr" >15. DISCLAIMER OF WARRANTIES.</h3>

<p>THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. Ticket Win HEREBY EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. Ticket Win MAKES NO WARRANTY THAT: (I) THE SERVICES WILL MEET YOUR REQUIREMENTS, (II) THE SERVICES WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, (IV) THE QUALITY, SAFETY OR LEGALITY OF ANY CONTENT, PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU, OR EVENTS ATTENDED, THROUGH THE SERVICES, OR THE SERVICES THEMSELVES (OR ANY PART THEREOF), WILL MEET YOUR EXPECTATIONS, OR (V) ANY ERRORS IN THE SERVICES WILL BE CORRECTED. Ticket Win IS NOT RESPONSIBLE AND SHALL HAVE NO LIABILITY FOR THE CONTENT, PRODUCTS, SERVICES, ACTIONS OR INACTIONS OF ANY USER, BUYER OR OTHER NON-ORGANIZER, ORGANIZER OR THIRD PARTY BEFORE, DURING AND/OR AFTER AN EVENT; AND Ticket Win WILL HAVE NO LIABILITY WITH RESPECT TO ANY WARRANTY DISCLAIMED IN (I) THROUGH (V) ABOVE. YOU ACKNOWLEDGE THAT Ticket Win HAS NO CONTROL OVER AND DOES NOT GUARANTEE THE QUALITY, SAFETY OR LEGALITY OF EVENTS ADVERTISED, THE TRUTH OR ACCURACY OF ANY USERS' (INCLUDING BUYERS', OTHER NON-ORGANIZERS' AND ORGANIZERS') CONTENT OR LISTINGS, OR THE ABILITY OF ANY USER (INCLUDING BUYERS, OTHER NON-ORGANIZERS AND ORGANIZERS) TO PERFORM, OR ACTUALLY COMPLETE A TRANSACTION. THE FOREGOING DISCLAIMERS SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW. Notwithstanding the foregoing, you may report the misconduct of users, Buyers, other non-Organizers, Organizers and/or third parties in connection with the Site or any Services to Ticket Win. Ticket Win, in its sole discretion, may investigate the claim and take necessary action.</p>

<h3 dir="ltr" >16. LIMITATION OF LIABILITY.</h3>

<p>Ticket Win SHALL NOT BE LIABLE UNDER ANY CIRCUMSTANCES OR UNDER ANY LEGAL THEORY, WHETHER IN TORT, CONTRACT, OR OTHERWISE, WITH RESPECT TO THE SERVICES, OR ANY OTHER SUBJECT MATTER OF THIS TOS, FOR: (I) ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF Ticket Win HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), (II) THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES, (III) AMOUNTS IN EXCESS OF US$100.00 IN THE AGGREGATE FOR ALL CLAIMS WITH RESPECT TO THE SERVICES, OR (IV) ANY MATTERS BEYOND Ticket Win'S REASONABLE CONTROL. Ticket Win SHALL HAVE NO LIABILITY WITH RESPECT TO ANY OF YOUR CONTENT OR ANY CONTENT OF ANY OTHER USER OF THE SERVICES. IN ADDITION, Ticket Win IS NOT AFFILIATED WITH, AND HAS NO AGENCY OR EMPLOYMENT RELATIONSHIP WITH, ANY THIRD PARTY SERVICE PROVIDER USED IN CONJUNCTION WITH THE SERVICES (INCLUDING, WITHOUT LIMITATION, ANY FPM SERVICE), AND Ticket Win HAS NO RESPONSIBILITY FOR, AND HEREBY DISCLAIMS ALL LIABILITY ARISING FROM, THE ACTS OR OMISSIONS OF ANY SUCH THIRD PARTY SERVICE PROVIDER. THE FOREGOING LIMITATIONS SHALL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW.</p>

<h3 dir="ltr" >17. RELEASE.</h3>

<p>IN CONSIDERATION OF BEING PERMITTED TO ACCESS AND USE THE SERVICES, YOU HEREBY AGREE TO RELEASE Ticket Win, AND ITS AFFILIATES, AND EACH OF ITS AND THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, CO-BRANDERS, OTHER PARTNERS, AND EMPLOYEES FROM ALL DAMAGES (WHETHER DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL OR OTHERWISE), LOSSES, LIABILITIES, COSTS AND EXPENSES OF EVERY KIND AND NATURE, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH DISPUTES BETWEEN YOU AND THIRD PARTIES (INCLUDING OTHER ORGANIZERS, BUYERS, AND OTHER NON-ORGANIZERS) IN CONNECTION WITH THE SERVICES, YOUR ACCESS AND USE OF THE SERVICES, OR ANY EVENTS LISTED THEREON.</p>

<p>IN CONNECTION WITH THE FOREGOING RELEASE, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE 1542 AND ANY OTHER APPLICABLE LAW OR STATUTE, WHICH SAYS, IN SUBSTANCE:</p>

<p>"A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR."</p>

<h3 dir="ltr" >18. PRIVACY.</h3>

<p>All information provided by you or collected by Ticket Win in connection with the Services is governed by Ticket Win's Privacy Policy, a copy of which is located at https://www.tcktwn.com/privacypolicy, which is hereby incorporated by reference into this TOS. Ticket Win strongly recommends that you review the Privacy Policy closely. Further, any information submitted or provided by you to the Services may be publicly accessible. You should take care to protect private information or information that is important to you. Ticket Win shall not be responsible for protecting any such information and is not liable for the protection of privacy of electronic mail or other information transferred through the Internet or any other network that you may use. Please be aware that if you decide to disclose personally identifiable information on the Services, this information may become public. Ticket Win does not control and shall not be responsible for the acts of you or any other users (whether Organizers, Buyers, other non-Organizers or otherwise) of the Services.</p>

<h3 dir="ltr" >19. NOTICE.</h3>

<p>Notices to you may be made via either email or regular mail to the address in Ticket Win's records. The Services may also provide notices of changes to this TOS or other matters by displaying notices or links to notices to you generally on the Services. Any notice from you to us shall be sent in writing to our mailing address at Ticket Win, LLC, 155 5th St, 7th Floor, San Francisco, CA 94103, USA, Attn: Corporate Counsel.</p>

<h3 dir="ltr" >20. TRADEMARK INFORMATION.</h3>

<p>The trademarks, service marks, and logos of Ticket Win (the "Ticket Win Trademarks") used and displayed in connection with the Services are registered and unregistered trademarks or service marks of Ticket Win. Other company, product, and service names used in connection with the Services may be trademarks or service marks owned by third parties (the "Third Party Trademarks", and, collectively with Ticket Win Trademarks, the "Trademarks"). The offering of the Services shall not be construed as granting, by implication, estoppel, or otherwise, any license or right to use any Trademark displayed in connection with the Services without the prior written consent of Ticket Win specific for each such use. The Trademarks may not be used to disparage Ticket Win, any third party or Ticket Win's or third party's products or services, or in any manner (in Ticket Win's sole judgment) that may damage any goodwill in the Trademarks. Use of any Trademarks as part of a link to or from any site is prohibited unless Ticket Win approves the establishment of such a link by prior written consent specific for each such link. All goodwill generated from the use of any Ticket Win Trademark shall inure to Ticket Win's benefit.</p>

<h3 dir="ltr" >21. GENERAL.</h3>

<h4 dir="ltr" >21.1 Entire Agreement.</h4>

<p>This TOS (and to the extent that you are an API developer, the API TOS contained at http://developer.TicketWin.com/terms/constitutes the entire agreement between you and Ticket Win and governs your use of the Services as a Buyer or other non-Organizer, superseding any prior or contemporaneous agreements, proposals, discussions or communications between you and Ticket Win on the subject matter hereof. You also may be subject to additional terms and conditions that may apply when you use affiliate services, third party Content, third party software or the Services in a manner other than as governed by this TOS.</p>

<h4 dir="ltr" >21.2 Choice of Law.</h4>

<p>This TOS and the provision of the Services to you are governed by the laws of the state of Georgia, U.S.A., as such laws are applied to agreements entered into and to be performed entirely within Georgia by Georgia residents.</p>

<h4 dir="ltr" >21.3 Arbitration.</h4>

<p>Any controversy or claim arising out of or relating to this TOS or the provision of the Services shall be exclusively settled by binding arbitration in accordance with the commercial arbitration rules of the Judicial Arbitration and Mediation Service, Inc. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in San Francisco, California, and judgment on the arbitration award may be entered in any court having jurisdiction thereof. Subject to the foregoing arbitration provision, you and Ticket Win agree to submit to the personal jurisdiction of the courts located within the city and county of San Francisco, California. Either you or Ticket Win may seek any interim or preliminary relief from a court of competent jurisdiction in San Francisco, California, necessary to protect the rights or property of you or Ticket Win (or its agents, suppliers, and subcontractors) pending the completion of arbitration.</p>

<h4 dir="ltr" >21.4 Waiver; Invalid Provisions.</h4>

<p>The failure or delay of Ticket Win to exercise or enforce any right or provision of this TOS shall not constitute a waiver of such right or provision. No oral waiver, amendment or modification shall be effective under any circumstance whatsoever. If any provision of this TOS is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of this TOS shall remain in full force and effect.</p>

<h4 dir="ltr" >21.5 Time to File Claim.</h4>

<p>You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Services or this TOS must be filed within two (2) years after such claim or cause of action arose or be forever barred.</p>

<h4 dir="ltr" >21.6 Titles.</h4>

<p>The section titles in this TOS are for convenience only and have no legal or contractual effect.</p>

<h4 dir="ltr" >21.7 Violations.</h4>

<p>Please report any violations of this TOS by email to ticketwindev@gmail.com.</p>

<br />