
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="ticket-cards-set">
      <div class="ticket-card">
        <div class="heading">
          <h1><%= ticket.event_title %></h1>
        </div>
        <div class="content"><img src="/assets/ticket_win_white.png" class="img-responsive" alt="Responsive image"></div>
      </div>
    </div>
  </div>
</div>