.nav.navbar-nav.navbar-right {
  li {
    padding-top: 10px;
    &:last-of-type { padding-top: 2px; }
  }
  .btn-default {
    margin-top: 6px;
    margin-bottom: 6px;
    color: white;
  }
  .btn-default:hover {
    background-color: darken(#39D1B4, 10%)
  }
  .btn-primary {
    margin-top: -2px;
    margin-bottom: 6px;
    margin-right: 14px;
    color: white;
  }
  .btn-primary:hover {
    background-color: darken(#F43D4D, 10%)
  }
}

.btn-main {
  font-size: 1em;
  margin-top: 6px;
  margin-bottom: 6px;
  color: #373737;
  background: transparent;
  border: 2px solid #373737;
}
.btn-main:hover {
  background-color: #39D1B4;
  color: white;
}

.img-center {margin:0 auto;}

@media all and (max-width: 768px) {
  .logo {
    display: inline;
  }
}
